# <b>A. <span style='color:#3A6D8C'>Clustering</span></b>

Clustering adalah metode dalam analisis data yang digunakan untuk mengelompokkan data ke dalam grup atau kluster berdasarkan kesamaan di antara data tersebut. Tujuannya adalah untuk mengidentifikasi pola atau struktur dalam dataset tanpa adanya label atau informasi sebelumnya mengenai kelompok mana yang harus dihasilkan.

# <b>B. <span style='color:#3A6D8C'>Data Digunakan</span></b>

<a href="https://sdgs.un.org/goals">Sustainable Development Goals (SDGs)</a> adalah 17 tujuan global yang ditetapkan oleh Perserikatan Bangsa-Bangsa (PBB) sebagai bagian dari Agenda 2030 untuk pembangunan berkelanjutan. Tujuan ini dirancang untuk mengatasi berbagai tantangan global, termasuk kemiskinan, ketidaksetaraan, perubahan iklim, dan kerusakan lingkungan

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Sustainable_Development_Goals.svg/768px-Sustainable_Development_Goals.svg.png">

Dataset WorldSustainabilityDataset.csv merupakan dataset yang digunakan untuk melacak kinerja 173 negara terhadap berbagai metrik keberlanjutan selama periode 19 tahun.

data source : <a href="https://www.kaggle.com/datasets/truecue/worldsustainabilitydataset/data"><i>https://www.kaggle.com/datasets/truecue/worldsustainabilitydataset/data</i></a>

### <b><span style='color:#55679C'>Quest B.1</span></b>

<i>Lakukan ekstraksi data untuk data `WorldSustainabilityDataset.csv` simpan kedalam variabel `data_sustainability` serta lakukan inspeksi tipe data dan informasi umum lainnya!)</i>

In [ ]:
# Import library yang digunakan
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

# Proses ekstraksi data
data_sustainability = pd.read_csv('WorldSustainabilityDataset.csv')

# Tampilkan hasilnya
data_sustainability.head()

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5",Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS,Children out of school (% of primary school age) - SE.PRM.UNER.ZS,"Compulsory education, duration (years) - SE.COM.DURS","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS","Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS",Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,GDP (current US$) - NY.GDP.MKTP.CD,GDP per capita (current US$) - NY.GDP.PCAP.CD,General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS,Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS,Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS,"Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG","Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS",Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS,"Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS",Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,"School enrollment, preprimary (% gross) - SE.PRE.ENRR","School enrollment, primary (% gross) - SE.PRM.ENRR","School enrollment, secondary (% gross) - SE.SEC.ENRR",Trade (% of GDP) - NE.TRD.GNFS.ZS,Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX,Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1,Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2","Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes",Continent,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
0,Aruba,ABW,2000,91.66,NaN,15.39,2.39,0.00,0.00,NaN,NaN,51.83,1.60,NaN,NaN,NaN,74.40,70.79,1873452514.00,20617.75,21.41,96.29,23.73,70.67,4.04,97.14,NaN,19.06,0.00,0.18,95.90,110.79,96.52,145.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.38,North America,NaN,High income,NaN,NaN,NaN,NaN,53.28,NaN,NaN,Latin America and Caribbean
1,Aruba,ABW,2001,100.00,NaN,11.49,2.51,0.00,0.00,NaN,NaN,53.55,0.32,NaN,NaN,NaN,70.50,74.34,1920111732.00,20670.37,24.53,98.05,19.33,68.55,2.88,94.40,NaN,18.95,0.00,0.18,97.55,109.44,97.97,139.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.41,North America,NaN,High income,17.10,73.85,92892.00,NaN,53.66,0.00,46.34,Latin America and Caribbean
2,Aruba,ABW,2002,100.00,NaN,3.89,2.72,0.00,0.00,NaN,NaN,58.52,1.82,NaN,NaN,NaN,64.92,77.55,1941340782.00,20436.89,25.15,104.46,12.02,69.38,3.32,94.76,NaN,19.07,0.00,0.18,98.44,111.01,100.52,134.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.44,North America,NaN,High income,18.80,73.94,94992.00,NaN,54.03,0.00,45.97,Latin America and Caribbean
3,Aruba,ABW,2003,100.00,NaN,6.71,2.73,0.00,0.00,NaN,NaN,61.20,3.32,NaN,NaN,NaN,63.10,78.55,2021229050.00,20833.98,24.71,107.77,14.46,70.87,3.66,90.22,NaN,18.43,0.00,0.18,99.62,109.21,99.09,133.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.56,North America,NaN,High income,20.80,74.04,97016.00,NaN,54.39,0.00,45.61,Latin America and Caribbean
4,Aruba,ABW,2004,100.00,NaN,9.80,2.68,0.00,0.00,NaN,NaN,57.29,2.18,NaN,NaN,NaN,65.08,74.71,2228491620.00,22568.37,23.16,103.48,17.10,68.56,2.53,90.56,NaN,18.45,0.00,0.19,98.75,110.84,97.25,133.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.62,North America,NaN,High income,23.00,74.16,98744.00,NaN,54.76,0.00,45.24,Latin America and Caribbean

In [ ]:
# Informasi umum pada data
data_sustainability.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 54 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Country Name                                                                                  3287 non-null   object
 1   Country Code                                                                                  3287 non-null   object
 2   Year                                                                                          3287 non-null   int64
 3   Access to electricity (% of population) - EG.ELC.ACCS.ZS                                      3193 non-null   float64
 4   Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG              2566 non-null   float64
 5   Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS    2628 non-null   float64
 6   Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS                        3220 non-null   float64
 7   Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS                  3094 non-null   float64
 8   Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS                         3111 non-null   float64
 9   Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS                  3099 non-null   float64
 10  Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5                        2285 non-null   float64
 11  Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS                                                    2777 non-null   float64
 12  Children out of school (% of primary school age) - SE.PRM.UNER.ZS                             2225 non-null   float64
 13  Compulsory education, duration (years) - SE.COM.DURS                                          2979 non-null   float64
 14  Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS     2501 non-null   float64
 15  Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS       2501 non-null   float64
 16  Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS                                     3118 non-null   float64
 17  Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS                                     3047 non-null   float64
 18  GDP (current US$) - NY.GDP.MKTP.CD                                                            3246 non-null   float64
 19  GDP per capita (current US$) - NY.GDP.PCAP.CD                                                 3246 non-null   float64
 20  General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS                  3031 non-null   float64
 21  Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS                                        3047 non-null   float64
 22  Gross savings (% of GDP) - NY.GNS.ICTR.ZS                                                     2774 non-null   float64
 23  Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS                                     3118 non-null   float64
 24  Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG                                        3083 non-null   float64
 25  Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS                     2226 non-null   float64
 26  Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS                3062 non-null   float64
 27  Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS                                              2366 non-null   float64
 28  Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS                 2771 non-null   float64
 29  Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS           3287 non-null   float64
 30  School enrollment, preprimary (% gross) - SE.PRE.ENRR                                         2349 non-null   float64
 31  School enrollment, primary (% gross) - SE.PRM.ENRR                                            2783 non-null   float64
 32  School enrollment, secondary (% gross) - SE.SEC.ENRR                                          2430 non-null   float64
 33  Trade (% of GDP) - NE.TRD.GNFS.ZS                                                             3118 non-null   float64
 34  Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX                            3211 non-null   float64
 35  Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1                                      1834 non-null   float64
 36  Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1           1304 non-null   float64
 37  Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1  2349 non-null   float64
 38  Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1  1357 non-null   float64
 39  Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1     1837 non-null   float64
 40  Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2                                              1807 non-null   float64
 41  Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2                                             1806 non-null   float64
 42  Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes         3285 non-null   float64
 43  Continent                                                                                     3285 non-null   object
 44  Gini index (World Bank estimate) - SI.POV.GINI                                                1303 non-null   float64
 45  Income Classification (World Bank Definition)                                                 3285 non-null   object
 46  Individuals using the Internet (% of population) - IT.NET.USER.ZS                             2986 non-null   float64
 47  Life expectancy at birth, total (years) - SP.DYN.LE00.IN                                      3096 non-null   float64
 48  Population, total - SP.POP.TOTL                                                               3106 non-null   float64
 49  Regime Type (RoW Measure Definition)                                                          3076 non-null   object
 50  Rural population (% of total population) - SP.RUR.TOTL.ZS                                     3278 non-null   float64
 51  Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS                                  3053 non-null   float64
 52  Urban population (% of total population) - SP.URB.TOTL.IN.ZS                                  3106 non-null   float64
 53  World Regions (UN SDG Definition)                                                             3285 non-null   object
dtypes: float64(47), int64(1), object(6)
memory usage: 1.4+ MB

# <b>C. <span style='color:#3A6D8C'>Filter Data</span></b>

Fokus analisa kali ini hanya akan diambil dari 1 benua saja, yakni Asia.

### <b><span style='color:#55679C'>Quest C.1</span></b>

<i>Pada dataframe `data_sustainability`, periksa benua (Continent) apa saja yang terdapat pada data!</i>

In [ ]:
# List nama benua yang ada pada dataframe
data_sustainability['Continent'].unique()

array(['North America', 'Africa', 'Europe', 'Asia', 'South America',
       'Oceania', nan], dtype=object)

### <b><span style='color:#55679C'>Quest C.2</span></b>

<i>Buat dataframe baru `data_sust_asia`, lalu lakukan filter ambil hanya continent Asia pada dataframe sebelumnya!</i>

In [ ]:
# Buat kondisinya (Benua = Asia)
conditions = data_sustainability['Continent'] == 'Asia'

# Lakukan filter dan simpan ke dataframe baru
data_sust_asia = data_sustainability.loc[conditions]

# Tampilkan hasilnya
display(data_sust_asia.head())

,Country Name,Country Code,Year,Access to electricity (% of population) - EG.ELC.ACCS.ZS,Adjusted net national income per capita (annual % growth) - NY.ADJ.NNTY.PC.KD.ZG,"Adjusted net savings, excluding particulate emission damage (% of GNI) - NY.ADJ.SVNX.GN.ZS",Adjusted savings: carbon dioxide damage (% of GNI) - NY.ADJ.DCO2.GN.ZS,Adjusted savings: natural resources depletion (% of GNI) - NY.ADJ.DRES.GN.ZS,Adjusted savings: net forest depletion (% of GNI) - NY.ADJ.DFOR.GN.ZS,Adjusted savings: particulate emission damage (% of GNI) - NY.ADJ.DPEM.GN.ZS,"Automated teller machines (ATMs) (per 100,000 adults) - FB.ATM.TOTL.P5",Broad money (% of GDP) - FM.LBL.BMNY.GD.ZS,Children out of school (% of primary school age) - SE.PRM.UNER.ZS,"Compulsory education, duration (years) - SE.COM.DURS","Cost of business start-up procedures, female (% of GNI per capita) - IC.REG.COST.PC.FE.ZS","Cost of business start-up procedures, male (% of GNI per capita) - IC.REG.COST.PC.MA.ZS",Exports of goods and services (% of GDP) - NE.EXP.GNFS.ZS,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,GDP (current US$) - NY.GDP.MKTP.CD,GDP per capita (current US$) - NY.GDP.PCAP.CD,General government final consumption expenditure (% of GDP) - NE.CON.GOVT.ZS,Gross national expenditure (% of GDP) - NE.DAB.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS,Imports of goods and services (% of GDP) - NE.IMP.GNFS.ZS,"Inflation, consumer prices (annual %) - FP.CPI.TOTL.ZG","Primary completion rate, total (% of relevant age group) - SE.PRM.CMPT.ZS",Proportion of seats held by women in national parliaments (%) - SG.GEN.PARL.ZS,"Pupil-teacher ratio, primary - SE.PRM.ENRL.TC.ZS",Renewable electricity output (% of total electricity output) - EG.ELC.RNEW.ZS,Renewable energy consumption (% of total final energy consumption) - EG.FEC.RNEW.ZS,"School enrollment, preprimary (% gross) - SE.PRE.ENRR","School enrollment, primary (% gross) - SE.PRM.ENRR","School enrollment, secondary (% gross) - SE.SEC.ENRR",Trade (% of GDP) - NE.TRD.GNFS.ZS,Women Business and the Law Index Score (scale 1-100) - SG.LAW.INDX,Prevalence of undernourishment (%) - SN_ITK_DEFC - 2.1.1,Proportion of population below international poverty line (%) - SI_POV_DAY1 - 1.1.1,Proportion of population covered by at least a 2G mobile network (%) - IT_MOB_2GNTWK - 9.c.1,Proportion of population covered by at least a 3G mobile network (%) - IT_MOB_3GNTWK - 9.c.1,Proportion of population using basic drinking water services (%) - SP_ACS_BSRVH2O - 1.4.1,"Unemployment rate, male (%) - SL_TLF_UEM - 8.5.2","Unemployment rate, women (%) - SL_TLF_UEM - 8.5.2","Annual production-based emissions of carbon dioxide (CO2), measured in million tonnes",Continent,Gini index (World Bank estimate) - SI.POV.GINI,Income Classification (World Bank Definition),Individuals using the Internet (% of population) - IT.NET.USER.ZS,"Life expectancy at birth, total (years) - SP.DYN.LE00.IN","Population, total - SP.POP.TOTL",Regime Type (RoW Measure Definition),Rural population (% of total population) - SP.RUR.TOTL.ZS,Total natural resources rents (% of GDP) - NY.GDP.TOTL.RT.ZS,Urban population (% of total population) - SP.URB.TOTL.IN.ZS,World Regions (UN SDG Definition)
57,United Arab Emirates,ARE,2000,100.00,NaN,NaN,1.91,4.70,0.00,0.14,NaN,33.14,NaN,6.00,NaN,NaN,NaN,NaN,104337000000.00,33291.37,NaN,NaN,NaN,NaN,NaN,80.28,0.00,16.15,0.00,0.08,60.24,NaN,NaN,NaN,26.88,NaN,NaN,100.00,NaN,100.00,2.20,2.70,111.79,Asia,NaN,High income,NaN,NaN,NaN,Closed Autocracy,19.76,NaN,NaN,Northern Africa and Western Asia
58,United Arab Emirates,ARE,2001,100.00,NaN,NaN,1.82,3.43,0.00,0.14,NaN,40.81,NaN,6.00,NaN,NaN,49.16,69.04,103312000000.00,31280.76,9.91,91.55,NaN,40.71,NaN,76.58,0.00,15.95,0.00,0.06,59.86,NaN,NaN,89.86,26.88,3.30,NaN,100.00,NaN,NaN,NaN,NaN,100.59,Asia,NaN,High income,26.27,74.54,3302722.00,Closed Autocracy,19.34,17.20,80.66,Northern Africa and Western Asia
59,United Arab Emirates,ARE,2002,100.00,-5.84,NaN,1.54,3.07,0.00,0.15,NaN,42.43,NaN,6.00,NaN,NaN,49.50,71.52,109816000000.00,31567.55,10.15,94.06,NaN,43.57,NaN,80.73,0.00,15.28,0.00,0.07,66.16,NaN,NaN,93.07,26.88,4.40,NaN,100.00,NaN,NaN,NaN,NaN,83.70,Asia,NaN,High income,28.32,74.76,3478769.00,Closed Autocracy,18.93,15.49,81.07,Northern Africa and Western Asia
60,United Arab Emirates,ARE,2003,100.00,-0.52,NaN,1.80,4.00,0.00,0.14,NaN,43.16,NaN,6.00,18.80,18.80,55.92,68.32,124346000000.00,33499.10,9.75,90.45,NaN,46.38,NaN,NaN,0.00,15.22,0.00,0.07,73.49,NaN,NaN,102.30,26.88,5.90,NaN,100.00,NaN,NaN,NaN,NaN,105.62,Asia,NaN,High income,29.48,74.97,3711931.00,Closed Autocracy,18.53,17.87,81.47,Northern Africa and Western Asia
61,United Arab Emirates,ARE,2004,100.00,0.01,NaN,1.68,4.90,0.00,0.12,18.29,44.92,NaN,6.00,17.50,17.50,63.57,69.51,147824000000.00,36333.19,8.75,89.49,NaN,53.05,NaN,NaN,0.00,15.00,0.00,0.10,78.23,NaN,NaN,116.62,26.88,7.70,NaN,100.00,NaN,NaN,NaN,NaN,111.80,Asia,NaN,High income,30.13,75.17,4068577.00,Closed Autocracy,18.13,20.87,81.87,Northern Africa and Western Asia

### <b><span style='color:#55679C'>Quest C.3</span></b>

![image.png]()

Untuk praktek kali ini hanya akan diambil 3 kolom saja berdasarkan SDG Goal - Economic General yakni GDP (Current US$), Final consumption expenditure (% of GDP), Gross savings (% of GDP)

In [ ]:
# Inisialisasi kolom
kolom = [
    'Country Name',
    'Country Code',
    'Year',
    'GDP (current US$) - NY.GDP.MKTP.CD',
    'Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS',
    'Gross savings (% of GDP) - NY.GNS.ICTR.ZS'
]

# Ambil kolom yang ditentukan saja
data_sust_asia = data_sust_asia[kolom]

# Tampilkan hasilnya
display(data_sust_asia)

,Country Name,Country Code,Year,GDP (current US$) - NY.GDP.MKTP.CD,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS
57,United Arab Emirates,ARE,2000,104337000000.00,NaN,NaN
58,United Arab Emirates,ARE,2001,103312000000.00,69.04,NaN
59,United Arab Emirates,ARE,2002,109816000000.00,71.52,NaN
60,United Arab Emirates,ARE,2003,124346000000.00,68.32,NaN
61,United Arab Emirates,ARE,2004,147824000000.00,69.51,NaN
...,...,...,...,...,...,...
3206,Vietnam,VNM,2014,186205000000.00,72.07,28.34
3207,Vietnam,VNM,2015,193241000000.00,74.29,24.45
3208,Vietnam,VNM,2016,205276000000.00,75.05,24.65
3209,Vietnam,VNM,2017,223780000000.00,74.54,22.19
3210,Vietnam,VNM,2018,245214000000.00,74.04,23.37

# <b>D. <span style='color:#3A6D8C'>Data Cleaning</span></b>

Data cleaning (atau pembersihan data) adalah proses mengidentifikasi dan memperbaiki atau menghapus data yang tidak akurat, tidak lengkap, atau tidak konsisten dalam dataset. Tujuannya adalah untuk meningkatkan kualitas data sehingga analisis dan keputusan yang diambil dari data tersebut lebih valid dan dapat diandalkan

## <b>D.1. <span style='color:#3A6D8C'>Validasi Data</span></b>

Validasi data adalah proses memeriksa dan memastikan bahwa data yang dimasukkan atau disimpan dalam sistem memenuhi kriteria tertentu yang telah ditentukan. Tujuan dari validasi data adalah untuk menjamin akurasi, konsistensi, dan kelayakan data sebelum digunakan dalam analisis atau pengambilan keputusan.

### <b><span style='color:#55679C'>Quest D.1.1</span></b>

<i>Dari dataframe `data_sust_asia`, periksa banyak baris pada masing-masing negara dan adakah yang memiliki jumlah data berbeda?</i>

In [ ]:
data_sust_asia.groupby('Country Name', as_index = False).agg(
    min_tahun = ('Year', 'min'),
    max_tahun = ('Year', 'max'),
    total_data = ('Country Code', 'count')
)

                 Country Name  min_tahun  max_tahun  total_data
0                     Armenia       2000       2018          19
1                  Azerbaijan       2000       2018          19
2                     Bahrain       2000       2018          19
3                  Bangladesh       2000       2018          19
4                      Bhutan       2000       2018          19
5           Brunei Darussalam       2000       2018          19
6                    Cambodia       2000       2018          19
7                       China       2000       2018          19
8                     Georgia       2000       2018          19
9        Hong Kong SAR, China       2000       2018          19
10                      India       2000       2018          19
11                  Indonesia       2000       2018          19
12         Iran, Islamic Rep.       2000       2018          19
13                       Iraq       2000       2018          19
14                     Israel       2000       2018          19
15                      Japan       2000       2018          19
16                     Jordan       2000       2018          19
17                 Kazakhstan       2000       2018          19
18  Korea, Dem. People's Rep.       2000       2018          19
19                Korea, Rep.       2000       2018          19
20                     Kuwait       2000       2018          19
21            Kyrgyz Republic       2000       2018          19
22                    Lao PDR       2000       2018          19
23                    Lebanon       2000       2018          19
24           Macao SAR, China       2000       2018          19
25                   Malaysia       2000       2018          19
26                   Maldives       2000       2018          19
27                   Mongolia       2000       2018          19
28                    Myanmar       2000       2018          19
29                      Nepal       2000       2018          19
30                       Oman       2000       2018          19
31                   Pakistan       2000       2018          19
32                Philippines       2000       2018          19
33                      Qatar       2000       2018          19
34               Saudi Arabia       2000       2018          19
35                  Singapore       2000       2018          19
36                  Sri Lanka       2000       2018          19
37       Syrian Arab Republic       2000       2018          19
38                 Tajikistan       2000       2018          19
39                   Thailand       2000       2018          19
40                Timor-Leste       2002       2018          17
41                     Turkey       2000       2018          19
42       United Arab Emirates       2000       2018          19
43                 Uzbekistan       2000       2018          19
44                    Vietnam       2000       2018          19
45         West Bank and Gaza       2000       2018          19

### <b><span style='color:#55679C'>Quest D.1.2</span></b>

<i>Dari dataframe `data_sust_asia`, untuk kebutuhan praktis hanya akan diambil data tahun 2018 saja</i>

In [ ]:
# Lakukan filter
data_sust_asia = data_sust_asia[data_sust_asia['Year'] == 2018]

# Tampilkan hasilnya
data_sust_asia.head()

,Country Name,Country Code,Year,GDP (current US$) - NY.GDP.MKTP.CD,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS
0,United Arab Emirates,ARE,2018,422215000000.00,50.12,NaN
1,Armenia,ARM,2018,12457941907.00,91.29,15.47
2,Azerbaijan,AZE,2018,47112941176.00,64.61,31.72
3,Bangladesh,BGD,2018,274039000000.00,77.17,33.27
4,Bahrain,BHR,2018,37652500000.00,57.27,28.54

## <b>D.2. <span style='color:#3A6D8C'>Missing Value</span></b>

Missing value atau nilai yang hilang adalah data yang tidak tersedia dalam dataset.

Penanganan Missing Values:
* `Menghapus`: Menghapus baris atau kolom dengan nilai hilang.
* `Imputasi`: Mengisi nilai hilang dengan nilai lain, seperti rata-rata, median, atau modus.
* `Modeling`: Menggunakan algoritma yang dapat menangani nilai hilang secara langsung.

### <b><span style='color:#55679C'>Quest D.2.1</span></b>

<i>Dari dataframe `data_sust_asia`, periksa dan hitung banyaknya missing value pada data, jika ditemukan maka lakukan cara mengatasinya!</i>

In [ ]:
# Buat dataframe kosong
data_kosong = pd.DataFrame(index = data_sust_asia.columns.to_list())

# Lakukan perhitungan
for negara in data_sust_asia['Country Name'].unique():
    condition = (data_sust_asia['Country Name'] == negara)
    list_banyak_null = list()
    for col in data_sust_asia.columns.to_list():
        banyak_nul = data_sust_asia.loc[condition][col].isna().sum()
        list_banyak_null.append(banyak_nul)
    data_kosong[negara] = list_banyak_null

# Buat highlight merah untuk missing value > 0
styled_df = data_kosong.T.style.map(lambda val : 'background-color: red' if val > 0 else '')

display(styled_df)

### <b><span style='color:#55679C'>Quest D.2.2</span></b>

<i>Dari dataframe `data_sust_asia` lakukan imputasi untuk negara     
UAE = 50.4<br>
Iran = 36.2<br></i>

In [ ]:
# Lakukan imputasi untuk UAE
data_sust_asia.loc[data_sust_asia['Country Name'] == 'United Arab Emirates', 'Gross savings (% of GDP) - NY.GNS.ICTR.ZS'] = 50.4

# Lakukan imputasi untuk Iran
data_sust_asia.loc[data_sust_asia['Country Name'] == 'Iran, Islamic Rep.', 'Gross savings (% of GDP) - NY.GNS.ICTR.ZS'] = 36.2

### <b><span style='color:#55679C'>Quest D.2.3</span></b>

<i>Hapus tiga negara Lao PDR, Korea, Dem. People's Rep., Syrian Arab Republic pada data (karena tidak banyak data yang tersedia) dan reset_index nya</i>

In [ ]:
# Buat kondisi
condition = data_sust_asia['Country Name'].isin(['Lao PDR', "Korea, Dem. People's Rep.", 'Syrian Arab Republic'])

# Lakukan proses filter
data_sust_asia = data_sust_asia[~condition]

# Reset index
data_sust_asia = data_sust_asia.reset_index(drop = True)

# Tampilkan hasilnya
display(data_sust_asia)

,Country Name,Country Code,Year,GDP (current US$) - NY.GDP.MKTP.CD,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS
0,United Arab Emirates,ARE,2018,422215000000.00,50.12,50.40
1,Armenia,ARM,2018,12457941907.00,91.29,15.47
2,Azerbaijan,AZE,2018,47112941176.00,64.61,31.72
3,Bangladesh,BGD,2018,274039000000.00,77.17,33.27
4,Bahrain,BHR,2018,37652500000.00,57.27,28.54
5,Brunei Darussalam,BRN,2018,13567351175.00,43.68,53.20
6,Bhutan,BTN,2018,2446866405.00,77.48,21.73
7,China,CHN,2018,13894800000000.00,55.06,44.39
8,Georgia,GEO,2018,17599700091.00,82.52,21.34
9,"Hong Kong SAR, China",HKG,2018,361692000000.00,78.22,25.73
10,Indonesia,IDN,2018,1042270000000.00,66.00,31.68
11,India,IND,2018,2701110000000.00,70.21,31.32
12,"Iran, Islamic Rep.",IRN,2018,294357000000.00,60.77,36.20
13,Iraq,IRQ,2018,212272000000.00,63.64,36.03
14,Israel,ISR,2018,370456000000.00,77.64,24.40
15,Jordan,JOR,2018,42932112676.00,100.73,10.60
16,Japan,JPN,2018,4954810000000.00,75.44,27.84
17,Kazakhstan,KAZ,2018,179340000000.00,60.42,27.79
18,Kyrgyz Republic,KGZ,2018,8271106196.00,99.66,26.58
19,Cambodia,KHM,2018,24571753584.00,75.61,25.31
20,"Korea, Rep.",KOR,2018,1724850000000.00,64.08,35.85
21,Kuwait,KWT,2018,138182000000.00,62.82,39.70
22,Lebanon,LBN,2018,54961275742.00,105.92,-4.00
23,Sri Lanka,LKA,2018,87954272082.00,77.58,26.70
24,"Macao SAR, China",MAC,2018,55302446578.00,33.34,50.31
25,Maldives,MDV,2018,5299773144.00,61.84,19.57
26,Myanmar,MMR,2018,68697759361.00,70.41,29.83
27,Mongolia,MNG,2018,13108769496.00,65.97,25.95
28,Malaysia,MYS,2018,358715000000.00,69.38,26.14
29,Nepal,NPL,2018,33111525183.00,85.21,42.57
30,Oman,OMN,2018,79788768969.00,61.93,18.97
31,Pakistan,PAK,2018,314568000000.00,93.76,12.22
32,Philippines,PHL,2018,346842000000.00,84.59,33.81
33,West Bank and Gaza,PSE,2018,16276600000.00,110.88,15.45
34,Qatar,QAT,2018,183335000000.00,39.30,49.74
35,Saudi Arabia,SAU,2018,786522000000.00,62.53,33.23
36,Singapore,SGP,2018,375982000000.00,44.53,42.09
37,Thailand,THA,2018,506611000000.00,65.08,31.66
38,Tajikistan,TJK,2018,7765014424.00,87.64,34.59
39,Timor-Leste,TLS,2018,1559894900.00,123.24,14.19
40,Turkey,TUR,2018,778377000000.00,70.86,27.71
41,Uzbekistan,UZB,2018,50392607758.00,70.01,41.33
42,Vietnam,VNM,2018,245214000000.00,74.04,23.37

# <b>E. <span style='color:#3A6D8C'>Feature Scaling</span></b>

Feature scaling adalah teknik dalam praproses data yang digunakan untuk mengubah skala fitur (variabel) sehingga memiliki rentang yang seragam. Scaler yang umum digunakan adalah Min-Max Scaler, Standar Scaler, Robust Scaler, dsb.<br><br>


Salah satu cara untuk scaling data adalah StandarScaler yang dirumuskan

\begin{equation}
X' = \frac{X - \mu}{\sigma}
\end{equation}

docs : https://scikit-learn.org/1.5/modules/generated/sklearn.preprocessing.StandardScaler.html

### <b><span style='color:#55679C'>Quest E.1.1</span></b>

Lakukan proses Standard Scaling pada kolom yang telah ditentukan dengan scikit learn!

In [ ]:
# Import library yang dibutuhkan
from sklearn.preprocessing import StandardScaler

# Definisikan kolom yang akan di scaling
X = data_sust_asia[[
    'GDP (current US$) - NY.GDP.MKTP.CD',
    'Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS',
    'Gross savings (% of GDP) - NY.GNS.ICTR.ZS'
]]

# Buat objek MinMaxScaler
scaler = StandardScaler()

# Terapkan Min-Max Scaling
scaled_data = scaler.fit_transform(X)

# Buat DataFrame baru dari data yang telah diskalakan
scaled_df = pd.DataFrame(scaled_data, columns = X.columns + ' normalize')

# Tampilkan datanya
display(scaled_df.head())

,GDP (current US$) - NY.GDP.MKTP.CD normalize,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS normalize,Gross savings (% of GDP) - NY.GNS.ICTR.ZS normalize
0,-0.14,-1.21,1.80
1,-0.32,1.02,-1.23
2,-0.31,-0.42,0.18
3,-0.20,0.26,0.31
4,-0.31,-0.82,-0.10

### <b><span style='color:#55679C'>Quest E.1.2</span></b>

Periksa statistik deskriptif pada data sebelum dan setelah scaling

In [ ]:
X.describe()

,GDP (current US$) - NY.GDP.MKTP.CD,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS
count,43.00,43.00,43.00
mean,724357906531.33,72.38,29.64
std,2231888009626.01,18.68,11.69
min,1559894900.00,33.34,-4.00
25%,28841639383.50,62.23,23.88
50%,138182000000.00,70.21,28.54
75%,366074000000.00,80.37,35.94
max,13894800000000.00,123.24,53.20

In [ ]:
scaled_df.describe()

,GDP (current US$) - NY.GDP.MKTP.CD normalize,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS normalize,Gross savings (% of GDP) - NY.GNS.ICTR.ZS normalize
count,43.00,43.00,43.00
mean,0.00,-0.00,0.00
std,1.01,1.01,1.01
min,-0.33,-2.11,-2.91
25%,-0.32,-0.55,-0.50
50%,-0.27,-0.12,-0.10
75%,-0.16,0.43,0.55
max,5.97,2.75,2.04

### <b><span style='color:#55679C'>Quest E.1.3</span></b>
Masukan data hasil scaling (scaled_df) kedalam data_sust_asia

In [ ]:
# Proses masukan data
for col in scaled_df.columns:
    data_sust_asia[col] = scaled_df[col]

# Tampilkan hasilnya
display(data_sust_asia)

,Country Name,Country Code,Year,GDP (current US$) - NY.GDP.MKTP.CD,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS,Gross savings (% of GDP) - NY.GNS.ICTR.ZS,GDP (current US$) - NY.GDP.MKTP.CD normalize,Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS normalize,Gross savings (% of GDP) - NY.GNS.ICTR.ZS normalize
0,United Arab Emirates,ARE,2018,422215000000.00,50.12,50.40,-0.14,-1.21,1.80
1,Armenia,ARM,2018,12457941907.00,91.29,15.47,-0.32,1.02,-1.23
2,Azerbaijan,AZE,2018,47112941176.00,64.61,31.72,-0.31,-0.42,0.18
3,Bangladesh,BGD,2018,274039000000.00,77.17,33.27,-0.20,0.26,0.31
4,Bahrain,BHR,2018,37652500000.00,57.27,28.54,-0.31,-0.82,-0.10
5,Brunei Darussalam,BRN,2018,13567351175.00,43.68,53.20,-0.32,-1.55,2.04
6,Bhutan,BTN,2018,2446866405.00,77.48,21.73,-0.33,0.28,-0.68
7,China,CHN,2018,13894800000000.00,55.06,44.39,5.97,-0.94,1.28
8,Georgia,GEO,2018,17599700091.00,82.52,21.34,-0.32,0.55,-0.72
9,"Hong Kong SAR, China",HKG,2018,361692000000.00,78.22,25.73,-0.16,0.32,-0.34
10,Indonesia,IDN,2018,1042270000000.00,66.00,31.68,0.14,-0.35,0.18
11,India,IND,2018,2701110000000.00,70.21,31.32,0.90,-0.12,0.15
12,"Iran, Islamic Rep.",IRN,2018,294357000000.00,60.77,36.20,-0.19,-0.63,0.57
13,Iraq,IRQ,2018,212272000000.00,63.64,36.03,-0.23,-0.47,0.55
14,Israel,ISR,2018,370456000000.00,77.64,24.40,-0.16,0.28,-0.45
15,Jordan,JOR,2018,42932112676.00,100.73,10.60,-0.31,1.54,-1.65
16,Japan,JPN,2018,4954810000000.00,75.44,27.84,1.92,0.17,-0.16
17,Kazakhstan,KAZ,2018,179340000000.00,60.42,27.79,-0.25,-0.65,-0.16
18,Kyrgyz Republic,KGZ,2018,8271106196.00,99.66,26.58,-0.32,1.48,-0.26
19,Cambodia,KHM,2018,24571753584.00,75.61,25.31,-0.32,0.17,-0.38
20,"Korea, Rep.",KOR,2018,1724850000000.00,64.08,35.85,0.45,-0.45,0.54
21,Kuwait,KWT,2018,138182000000.00,62.82,39.70,-0.27,-0.52,0.87
22,Lebanon,LBN,2018,54961275742.00,105.92,-4.00,-0.30,1.82,-2.91
23,Sri Lanka,LKA,2018,87954272082.00,77.58,26.70,-0.29,0.28,-0.25
24,"Macao SAR, China",MAC,2018,55302446578.00,33.34,50.31,-0.30,-2.11,1.79
25,Maldives,MDV,2018,5299773144.00,61.84,19.57,-0.33,-0.57,-0.87
26,Myanmar,MMR,2018,68697759361.00,70.41,29.83,-0.30,-0.11,0.02
27,Mongolia,MNG,2018,13108769496.00,65.97,25.95,-0.32,-0.35,-0.32
28,Malaysia,MYS,2018,358715000000.00,69.38,26.14,-0.17,-0.16,-0.30
29,Nepal,NPL,2018,33111525183.00,85.21,42.57,-0.31,0.69,1.12
30,Oman,OMN,2018,79788768969.00,61.93,18.97,-0.29,-0.57,-0.92
31,Pakistan,PAK,2018,314568000000.00,93.76,12.22,-0.19,1.16,-1.51
32,Philippines,PHL,2018,346842000000.00,84.59,33.81,-0.17,0.66,0.36
33,West Bank and Gaza,PSE,2018,16276600000.00,110.88,15.45,-0.32,2.09,-1.23
34,Qatar,QAT,2018,183335000000.00,39.30,49.74,-0.25,-1.79,1.74
35,Saudi Arabia,SAU,2018,786522000000.00,62.53,33.23,0.03,-0.53,0.31
36,Singapore,SGP,2018,375982000000.00,44.53,42.09,-0.16,-1.51,1.08
37,Thailand,THA,2018,506611000000.00,65.08,31.66,-0.10,-0.40,0.17
38,Tajikistan,TJK,2018,7765014424.00,87.64,34.59,-0.32,0.83,0.43
39,Timor-Leste,TLS,2018,1559894900.00,123.24,14.19,-0.33,2.75,-1.34
40,Turkey,TUR,2018,778377000000.00,70.86,27.71,0.02,-0.08,-0.17
41,Uzbekistan,UZB,2018,50392607758.00,70.01,41.33,-0.31,-0.13,1.01
42,Vietnam,VNM,2018,245214000000.00,74.04,23.37,-0.22,0.09,-0.54

# <b>F. <span style='color:#3A6D8C'>Modelling</span></b>

### <b><span style='color:#55679C'>Quest F.1.1</span></b>
Dengan silhouette_score tentukan jumlah cluster terbaik

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Definisikan kolom yang akan di clustering
X = data_sust_asia[[
    'GDP (current US$) - NY.GDP.MKTP.CD normalize',
    'Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS normalize',
    'Gross savings (% of GDP) - NY.GNS.ICTR.ZS normalize'
]]

k_range = range(2, 16)
silhouette = list()

# Melakukan K-Means dan menghitung Silhouette Score
for k in k_range:
    kmeans = KMeans(n_clusters=k, random_state=0)
    cluster_labels = kmeans.fit_predict(X)
    score = silhouette_score(X, cluster_labels)
    silhouette.append(score)

In [ ]:
import plotly.express as px

# Plot grafik
fig = px.line(
    x = k_range,
    y = silhouette,
    color_discrete_sequence = ['#FFAD60']
)

fig.update_layout(
    width = 1200,
    height = 500,
    showlegend = False,
    plot_bgcolor = 'rgba(0, 0, 0, 0)',
    title = dict(
        text = "<b>Nilai <span style='color:#FFAD60'>Silhouette Score</span>\
        </b><br><sup><sup>dengan Algoritma K-Means</sup></sup>",
        font = dict(
            size = 25,
            color = '#757882'
        ),
    ),
    xaxis = dict(
        showgrid = False,
        showline = True,
        linecolor = 'black',
        showticklabels = True,
        zeroline = True,
    ),
    yaxis = dict(
        showgrid = False,
        showline = True,
        linecolor='black',
        showticklabels = True,
        zeroline = True,
    ),
    margin = dict(
        l = 50
    )
)

fig.show(renderer = 'colab')

### <b><span style='color:#55679C'>Quest F.1.2</span></b>
Lakukan modelling dengan K-Means untuk jumlah cluster terbaik

In [ ]:
kmeans = KMeans(n_clusters = 4, random_state = 0)
cluster_labels = kmeans.fit_predict(X)

data_sust_asia['cluster'] = cluster_labels

In [ ]:
import plotly.graph_objects as go

# Membuat plot 3D
fig = go.Figure(
    data = [
        go.Scatter3d(
            x = data_sust_asia['GDP (current US$) - NY.GDP.MKTP.CD'],
            y = data_sust_asia['Final consumption expenditure (% of GDP) - NE.CON.TOTL.ZS'],
            z = data_sust_asia['Gross savings (% of GDP) - NY.GNS.ICTR.ZS'],
            mode = 'markers',
            marker = dict(
                size = 5,
                color = data_sust_asia['cluster'],
                opacity = 0.5,
                colorscale='Spectral',
                colorbar = dict(title='Color Legend')
            ),
            hovertext = data_sust_asia['Country Name'],
            hovertemplate='<b>%{hovertext}</b><br>GDP: %{x}<br>Final Consumption Expenditure: %{y}<br>Gross Savings: %{z}'
        )
    ]
)


fig.update_layout(
    width = 800,
    height = 800,
    plot_bgcolor = 'rgba(0, 0, 0, 0)',
    title = dict(
        text = '<b>Country Segmentation by GDP</b>',
        font = dict(
            size = 20
        )
    ),
    scene = dict(
        xaxis_title = 'GDP',
        yaxis_title = 'Final Consumption Expenditure',
        zaxis_title = 'Gross Savings',
        xaxis=dict(showgrid=False),
        yaxis=dict(showgrid=False),
        zaxis=dict(showgrid=False)
    )
)

# Tampilkan plot
fig.show()